appdirs
bleach
cycler
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
packaging
pandas
pandocfilters
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scipy
seaborn
simplegeneric
six
terminado
testpath
tornado
traitlets
wcwidth
widgetsnbextension
